<div class="row">
    <div class="col-6">
        <app-donught title="Sales"
                     [labels]="labels1"
                     [data]="data1"></app-donught>
    </div>
    <div class="col-6">
        <app-donught title="Insights"
                     [labels]="labels1"
                     [data]="data1"></app-donught>
    </div>
    
</div>

<div class="row">
    <div class="col-6">
        <app-donught title="Purchases"></app-donught>
    </div>
    <div class="col-6">
        <app-donught title="Products"></app-donught>
    </div>
    
</div>